<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div class="head">
        <h1 class="logo">
            <a th:href="@{/}">KNU CSE Solve</a>
        </h1>
        <div class="head-right">
            <span class="login-status" th:if="${user.isLogin}" th:text="${user.nickname} + '님, 환영합니다.'"></span>
            <a th:unless="${user.isLogin}" href="/login">
                <button class="login-button">로그인</button>
            </a>
            <div th:if="${user.isLogin}">
                <a onclick="toggleDropdown()">
                    <div class="user-profile-image">
                        <img th:src="${user.profileImage != null ? user.profileImage : '/img/tempProfile.jpg'}">
                    </div>
                </a>
                <div id="dropDownMenu">
                    <a th:href="@{/my/{userId}(userId=${user.userId})}">마이페이지</a>
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-wrapper">
        <nav>
            <div class="hamburger-wrapper">
                <img src='/img/hamburger.png' id="hamburger">
            </div>
        </nav>
        <div id="boardMenu" style="display: none;">
            <div id="boardMenuList" class="board-list">
                <dl th:each="boardMenu : ${boardMenuList}">
                    <dt th:each="boardPreview : ${boardMenu.boardPreviewList}">
                        <a th:href="@{/board/{boardType}(boardType=${boardPreview.type})}"
                           th:text="${boardPreview.alias}"></a>
                    </dt>
                </dl>
            </div>
            <div class="more">
                <a th:href="@{/all-board}">게시판 더보기</a>
            </div>
        </div>
    </div>
</header>
</html>