<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerNavFragment">
    <div class="header-nav-wrapper">
        <nav id="generalNav">
            <div class="hamburger-wrapper">
                <img src='/img/hamburger.png' id="hamburger">
            </div>
        </nav>
        <div id="boardMenu" style="display: none;">
            <div id="boardMenuList" class="board-list">
                <dl th:each="boardMenu : ${boardMenuList}">
                    <dt th:each="boardPreview : ${boardMenu.boardPreviewList}">
                        <a th:href="@{/board/{boardId}(boardId=${boardPreview.id})}"
                           th:text="${boardPreview.alias}"></a>
                    </dt>
                </dl>
            </div>
            <div class="more">
                <a th:href="@{/all-board}">게시판 더보기</a>
            </div>
        </div>
    </div>
</th:block>
</html>