<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{community/GeneralLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/community/BoardPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/community/PostPreviewList.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="board">
        <div class="board-header">
            <div class="board-alias">
                <a th:href="@{/board/{boardType}(boardType=${board.type})}" th:text="${board.alias}"></a>
            </div>
            <div th:text="${board.description}" class="description"></div>
        </div>
        <div class="option">
            <div class="select-view">
                <a th:href="@{/board/{boardType}(boardType=${board.type})}">
                    <div th:class="${boardIsViewHotPostPreviewList == false} ? 'active-select-view-button' : 'select-view-button'">
                        전체글
                    </div>
                </a>
                <a th:href="@{/board/{boardType}(boardType=${board.type}, hot=true)}">
                    <div th:class="${boardIsViewHotPostPreviewList == true} ? 'active-select-view-button' : 'select-view-button'">
                        인기글
                    </div>
                </a>
            </div>
            <a th:href="@{/write/{boardType}(boardType=${board.type})}">
                <div class="write-post-button">게시글 작성하기</div>
            </a>
        </div>
        <th:block th:replace="community/PostPreviewList :: postPreviewListFragment"></th:block>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/community/BoardPage.js}"></script>
</th:block>
</html>
