<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="postPreviewListFragment">
    <div class="post-preview-list-wrapper">
        <ul>
            <li th:each="postPreview : ${postPreviewList}">
                <div class="notice-post-preview-wrapper" th:if="${postPreview.isNotice}">
                    <div class="notice-post-image">
                        <img src="/img/notice.png">
                    </div>
                    <div class="notice-post-preview-content-wrapper">
                        <div class="notice-post-preview-title">
                            <a th:href="@{/board/{boardType}/post/{postId}(boardType=${board.type}, postId=${postPreview.id})}"
                               th:text="${postPreview.title}"></a>
                        </div>
                    </div>
                </div>
                <div class="post-preview-wrapper" th:unless="${postPreview.isNotice}"
                     th:classappend="${postPreview.isHot == true ? 'hot-post' : ''}">
                    <div class="post-thumbnail-wrapper">
                        <img id="previewImage"
                             th:src="${postPreview.thumbnail != null ? postPreview.thumbnail : '/img/mountain.png'}">
                    </div>
                    <div class="post-preview-content-wrapper">
                        <div class="post-preview-title">
                            <a th:if="${boardIsViewHotPostPreviewList}"
                               th:href="@{/board/{boardType}/post/{postId}(boardType=${board.type}, postId=${postPreview.id}, hot=true, page=${postPageNumber})}"
                               th:text="${postPreview.title}"></a>
                            <a th:unless="${boardIsViewHotPostPreviewList}"
                               th:href="@{/board/{boardType}/post/{postId}(boardType=${board.type}, postId=${postPreview.id}, page=${postPageNumber})}"
                               th:text="${postPreview.title}"></a>
                        </div>
                        <div class="post-preview-summary" th:text="${postPreview.summary}"></div>
                    </div>
                    <div class="post-preview-author-wrapper">
                        <div class="post-preview-author-nickname" th:text="${postPreview.authorNickname}"></div>
                    </div>
                    <div class="post-time-wrapper">
                        <div class="post-created-at" th:text="${postPreview.createdAt}"></div>
                    </div>
                    <div class="post-count-wrapper">
                        <div class="post-count">
                            <div class="post-count-image">
                                <img src='/img/hit.png'>
                            </div>
                            <span th:text="${postPreview.hitCount}"></span>
                        </div>
                        <div class="post-count">
                            <div class="post-count-image">
                                <img src="/img/comment.png">
                            </div>
                            <span th:text="${postPreview.commentCount}"></span>
                        </div>
                        <div class="post-count">
                            <div class="post-count-image">
                                <img src="/img/thumb.png">
                            </div>
                            <span th:text="${postPreview.recommendCount}"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="board-page-number-list-wrapper">
        <ul>
            <li th:each="pageNumber, stat : ${postPageNumberList}" th:if="${pageNumber != null}">
                <a th:if="${!boardIsViewHotPostPreviewList}"
                   th:href="@{/board/{boardType}(boardType=${boardType}, page=${pageNumber})}">
                    <div th:if="${stat.first}" class="board-arrow-left">◀</div>
                    <div th:if="${!stat.first && !stat.last}"
                         th:text="${pageNumber}"
                         th:class="${pageNumber == postPageNumber} ? 'board-active-page-number' : 'board-page-number'"></div>
                    <div th:if="${stat.last}" class="board-arrow-right">▶</div>
                </a>
                <a th:if="${boardIsViewHotPostPreviewList}"
                   th:href="@{/board/{boardType}(boardType=${boardType}, hot=true, page=${pageNumber})}">
                    <div th:if="${stat.first}" class="board-arrow-left">◀</div>
                    <div th:if="${!stat.first && !stat.last}"
                         th:text="${pageNumber}"
                         th:class="${pageNumber == postPageNumber} ? 'board-active-page-number' : 'board-page-number'"></div>
                    <div th:if="${stat.last}" class="board-arrow-right">▶</div>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>