<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{my/MyLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/my/MyCommentPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="my-comment">
        <div class="my-comment-header">
            <span>작성한 댓글</span>
        </div>
        <div class="my-comment-list-wrapper">
            <ul>
                <li th:each="myComment : ${myCommentList}">
                    <div class="my-comment-wrapper">
                        <div class="comment-header">
                            <div class="alias" th:text="${myComment.boardAlias}"></div>
                            <button th:if="${myComment.isMine}"
                                    th:unless="${myComment.isDeleted}"
                                    th:data-postId="${myComment.postId}"
                                    th:data-commentId="${myComment.id}"
                                    th:data-memberId="${myComment.authorId}"
                                    th:data-currentPageNumber="${myCommentPageNumber}"
                                    onclick="deleteMyComment(
                                    this.getAttribute('data-postId'),
                                    this.getAttribute('data-commentId'),
                                    this.getAttribute('data-memberId'),
                                    this.getAttribute('data-currentPageNumber'))">삭제
                            </button>
                        </div>
                        <div class="title">
                            <a th:href="@{/board/{boardType}/post/{postId}(boardType=${myComment.boardType}, postId=${myComment.postId})}"
                               th:text="${myComment.title}"></a>
                        </div>
                        <div th:unless="${myComment.isDeleted}" class="body" th:text="${myComment.body}"></div>
                        <div th:if="${myComment.isDeleted}" class="deleted-body">삭제된 댓글입니다.</div>
                        <div class="createdAt" th:text="${myComment.createdAt}"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="my-comment-page-number-list-wrapper">
            <ul>
                <li th:each="myCommentPage, stat : ${myCommentPageNumberList}"
                    th:if="${myCommentPage.pageNumber != null}">
                    <a th:href="@{/my/comment/{memberId}(memberId=${myCommentPage.memberId}, page=${myCommentPage.pageNumber})}">
                        <div th:if="${stat.first}" class="my-comment-arrow-left">◀</div>
                        <div th:if="${!stat.first && !stat.last}"
                             th:text="${myCommentPage.pageNumber}"
                             th:class="${myCommentPage.pageNumber == myCommentPageNumber} ? 'my-comment-active-page-number' : 'my-comment-page-number'"></div>
                        <div th:if="${stat.last}" class="my-comment-arrow-right">▶</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/my/MyCommentPage.js}"></script>
</th:block>
</html>