<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="my-side-bar" th:fragment="MyPageSideBarFragment">
    <a th:href="@{/my/{memberId}(memberId=${memberId})}">사용자 정보</a>
    <a th:if="${isMy}" th:href="@{/my/edit/{memberId}(memberId=${memberId})}">내 정보 수정</a>
    <a th:href="@{/my/post/{memberId}(memberId=${memberId})}">작성한 글</a>
    <a th:href="@{/my/comment/{memberId}(memberId=${memberId})}">작성한 댓글</a>
    <a th:if="${isMy}" th:href="@{/my/pwEdit/{memberId}(memberId=${memberId})}">비밀번호 수정</a>
    <a th:if="${isMy}" th:href="@{/my/withdraw/{memberId}(memberId=${memberId})}">계정 비활성화</a>
</div>
</html>