<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{my/MyEditLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/my/MyPwEditPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="my-pw-edit">
        <div class="my-pw-edit-header">
            <span>비밀번호 변경</span>
        </div>
        <form class="pw-edit-wrapper">
            <div class="input-wrapper">
                <div class="title">현재 비밀번호</div>
                <input id="currentPassword" name="currentPassword" type="password"/>
            </div>
            <div class="input-wrapper">
                <div class="title">변경할 비밀번호</div>
                <input id="changePassword" name="changePassword" type="password"/>
            </div>
            <div class="input-wrapper">
                <div class="title">비밀번호 재확인</div>
                <input id="confirmPassword" name="confirmPassword" type="password"/>
            </div>
            <div class="button-wrapper">
                <button type="button" onclick="pwEdit()">비밀번호 변경하기</button>
            </div>
        </form>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/my/MyPwEditPage.js}"></script>
</th:block>
</html>