<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KNU CSE SOLVE</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link th:href="@{/css/Common.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/Error.css}"/>
</head>
<body>
<main>
    <h1>403 error</h1>
    <h2>Something went wrong!</h2>
    <h3>
        <a th:href="@{/}">Go Home Now</a>
    </h3>
</main>
</body>
</html>