*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

button{
    cursor: pointer;
}

div{
    display: block;
}


a{
    text-decoration: none;
    color: black;
}