.my-withdraw{
    width: 1100px;
    margin: 0 auto;
    margin-left: 0;
}

.my-withdraw-header{
    border-bottom: 3px solid #837ed7;
    padding-bottom: 3px;
}

.my-withdraw-header span{
    color: #6f6abe;
    font-weight: bolder;
    font-size: 2rem;
}

.withdraw-wrapper{
    margin: 50px auto;
    padding: 50px;
    width: 500px;
    height: 200px;
    border: 1px solid #837ed7;
}

.withdraw-wrapper .warning{
    font-weight: bold;
}

.withdraw-wrapper .title{
    font-weight: bold;
    color: red;
}

.button-wrapper{
    margin-top: 50px;
}

.button-wrapper button{
    width: 500px;
    padding: 10px;
    background-color: #837ed7;
    color: white;
}

