.post {
    width: 1100px;
    margin: 0 auto;
}

.board-header {
    border-bottom: 3px solid #837ed7;
    padding-bottom: 3px;
}

.board-alias {
    margin-bottom: 10px;
}

.board-alias a {
    color: #6f6abe;
    font-weight: bolder;
    font-size: 2rem;
}

.post-header {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    margin-top: 10px;
}

.post-category{
    font-size: 1rem;
    padding-left: 10px;
}

.post-title {
    font-size: 1.2rem;
    padding-left: 10px;
}

.post-author-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.post-author-image {
    width: 25px; /* 원하는 크기로 변경 가능 */
    height: 25px; /* 원하는 크기로 변경 가능 */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e2e2e2; /* 2px 너비의 검은색 테두리 추가 */
}

.post-author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-author-nickname {
    margin-left: 5px;
}

.post-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.post-info-wrapper span {
    font-size: 14px;
    margin-right: 5px;
}

.post-info-wrapper .time {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.post-info-wrapper .count span:not(:first-child)::before {
    display: inline-block;
    content: "|";
    font-size: 15px;
    color: black;
    vertical-align: top;
    padding: 0 4px 0 1px;
}

.post-option-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 41px;
}

.post-option-wrapper .post-rewrite-button {
    font-size: 14px;
    background-color: white;
    border: 1px solid #837ed7;
    border-radius: 3px;
    color: #837ed7;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 5px;
}

.post-option-wrapper .post-delete-button {
    font-size: 14px;
    background-color: #fd6666;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 5px;
}

.post-body-wrapper {
    padding: 10px;
    margin-bottom: 20px;
}

.post-body {

}

.post-recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 2px solid #837ed7;
    border-radius: 10%;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

.post-recommend .post-recommend-image {
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.post-recommend .post-recommend-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-recommend .post-recommend-count {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.comment-list-wrapper {
    padding-top: 10px;
}

.comment-count {
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #837ed7;
}

.deleted-comment {
    background: #efefef;
    color: #c2b6b6;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 5px;
}

.root-comment-wrapper {
    border-bottom: 1px solid #e2e2e2;
}

.child-comment-wrapper {
    padding-left: 30px;
    border-bottom: 1px solid #e2e2e2;
}

#commentFragment {
    padding-bottom: 40px;
    border-bottom: 3px solid #837ed7;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.comment-author-wrapper {
    display: flex;
    align-items: center;
}

.comment-author-image {
    width: 25px; /* 원하는 크기로 변경 가능 */
    height: 25px; /* 원하는 크기로 변경 가능 */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e2e2e2; /* 2px 너비의 검은색 테두리 추가 */
}

.comment-author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-author-nickname {
    margin-left: 5px;
}

.post-author {
    font-size: 10px;
    color: salmon;
    border-radius: 5px;
    border: 1px solid salmon;
    padding: 0 1px;
    margin-left: 5px;
}

.comment-button-wrapper {
    display: flex;
    align-items: center;
}

.comment-button-wrapper .recommend-comment-button{
    margin-right: 7px;
    padding: 3px;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
}


.comment-button-wrapper .delete-comment-button {
    margin-right: 7px;
    padding: 3px;
    color: white;
    background-color: #fd6666;
    border: 1px solid #fd6666;
    border-radius: 3px;
}

.comment-button-wrapper .show-form-button {
    margin-right: 7px;
    padding: 3px;
    color: grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.comment-body-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.comment-body-wrapper .parent-author {
    font-size: 13px;
    font-weight: bolder;
    padding: 1px 0;
}

.comment-body-wrapper .comment-body {
    width: auto;
    word-wrap: break-word;
}

.comment-time-wrapper{
    padding-left: 5px;
    font-size: 12px;
    color: grey;
}


.child-comment-form {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #d2d1ff;
    border: 1px solid #837ed7;
    border-radius: 3px;
}

.child-comment-form .comment-input {
    width: 900px;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    border: 1px solid #837ed7;
    border-radius: 3px;
    background: white;
    padding: 5px;
    resize: none;
}

.child-comment-form .submit-button-wrapper {
    width: 100px;
    height: 70%;
    margin-left: 40px;
}

.child-comment-form .submit-button-wrapper button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: white;
    border: 1px solid #837ed7;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.comment-page-number-list-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comment-page-number-list-wrapper li {
    cursor: pointer;
    margin: 0 5px;
}

.comment-arrow-left {
    color: #837ed7;
}

.comment-arrow-right {
    color: #837ed7;
}

.comment-active-page-number {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #837ed7;
    border-radius: 3px;
    background-color: #837ed7;
    color: white;
}

.comment-page-number {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #837ed7;
    border-radius: 3px;
    background-color: white;
}


.root-comment-form {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: #d2d1ff;
    border: 1px solid #837ed7;
    border-radius: 3px;
}

.root-comment-form .comment-input {
    width: 900px;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    border: 1px solid #837ed7;
    border-radius: 3px;
    background: white;
    padding: 5px;
    resize: none;
}

.root-comment-form .submit-button-wrapper {
    width: 100px;
    height: 70%;
    margin-left: 40px;
}

.root-comment-form .submit-button-wrapper button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: white;
    border: 1px solid #837ed7;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}