#container{
    position: relative;
    width: 1600px;
    margin: 0 auto;
    display: flex;
}

main{
    margin-top: 20px;
}


.write{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}


.inner{
    width: 100%;
}

.innerHeader{
    border-bottom: 1px solid #e2e2e2;
}

.type{
    font-size: 2rem;
}

.option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 2rem;
}

.option .description{
    font-size: 1rem;
}

.checkBoxWrapper span {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

input[type="checkbox"] + label[id="checkBoxLabel"] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}

input[type="checkbox"]:checked + label[id="checkBoxLabel"] {
    background-color: #666666;
}

input[type="checkbox"] {
    display: none;
}

.ckEditorWrapper{
    margin-top: 20px;
}

.checkBoxWrapper span label:last-of-type {
    padding-left: 10px;
}

.ckEditorWrapper input {
    margin-top: 7px;
    margin-bottom: 5px;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    font-size: 1rem;
    color: #555;
    background: white;
    border: 1px solid #e2e2e2;
}

.ckEditorButtonWrapper button{
    display: block;
    height: 1rem;
}




