header {
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
    z-index: 100;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 75px;
    margin: 0 auto;
}

.logo {
    bottom: 20px;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.user-image {
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drop-down-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border: 1px solid #8e88da;
    z-index: 60;
}

.drop-down-menu a,
.drop-down-menu button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #8e88da;
}

.drop-down-menu a:hover,
.drop-down-menu button:hover {
    background-color: #f1f1f1;
}

.drop-down-menu button {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    text-align: left;
}

.root-header-nav-wrapper {
    border: 1px solid #8e88da;
    border-width: 3px 0 3px 0;
}

nav {
    width: 1100px;
    margin: 0 auto;
}

.root-board-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px 5px 40px;
}

dl {
    flex: 1;
    border-right: 1px solid #afa8ed;
    padding: 0 15px;
}

dl:last-child {
    border-right: none;
}

dt {
    font-size: 13px;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

dt a {
    color: inherit;
    text-decoration: none;
    display: block;
}

dt a:hover {
    text-decoration: underline;
}

dd {
    margin-bottom: 6px;
    font-size: 16px;
}

dd:last-child {
    margin-bottom: 0;
}

nav .more {
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px;
}

.more a {
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}