<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>로그인</title>
    <link href="css/Common.css" rel="stylesheet"/>
    <link href="css/LoginPage.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/LoginPage.js}"></script>
    <link rel="stylesheet" href="../static/css/LoginPage.css">
</head>
<body>
<div id="container">
    <main>
        <article>
            <section>
                <div class="login">
                    <div class="loginWrapper">
                        <div class="inner">
                            <div class="title">
                                로그인
                            </div>
                            <form th:action="@{/public/login}" method="post" id="loginForm">
                                <fieldset>
                                    <div class="errorWrapper">
                                        <p id="errorMessage" th:text="${exception}"></p>
                                    </div>
                                    <div>
                                        <input id="username" name="username" type="text"
                                               placeholder="name@example.com"/>
                                        <input id="password" name="password" type="password"
                                               placeholder="Password"/>
                                    </div>
                                    <button type="submit" class="loginFormButton">로그인</button>
                                    <div class="checkBoxWrapper">
                                        <span>
                                            <input type="checkbox"  id="remember" name="remember"/>
                                            <label id="checkBoxLabel" for="remember"></label>
                                            <label for="remember">로그인 상태 유지</label>
                                        </span>
                                    </div>
                                    <div class="optionWrapper">
                                        <a href="/signup-page">회원가입</a>
                                        <a>비밀번호 찾기</a>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="oauthLoginForm" th:action="@{/oauth2/authorization/google}">
                                <button type="submit" class="loginFormButton">구글로 로그인</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>
</body>
</html>
