<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{GeneralLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/MyCommentPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div id="container">
        <div th:replace="MyPageSideBar :: MyPageSideBarFragment"></div>
        <main>
            <section>
                <div class="profile">
                    <div class="profileWrapper">
                        <div class="inner">
                            <div class="title">
                                작성한 댓글
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/MyCommentPage.js}"></script>
</th:block>
</html>