<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{MyLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/MyWithdrawPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="my-withdraw">
        <div class="my-withdraw-header">
            <span>계정 비활성화</span>
        </div>
        <form class="withdraw-wrapper">
            <div class="title">
                계정 비활성화 하기
            </div>
            <div class="warning">
                사용자 기록은 삭제되지 않으며, 비활성화 후 로그인이 불가능합니다.
            </div>
            <div class="button-wrapper">
                <button type="button" th:data-userId="${userId}" onclick="withdraw(this.getAttribute('data-userId'))">계정 비활성화 하기
                </button>
            </div>
        </form>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/MyWithdrawPage.js}"></script>
</th:block>
</html>

