<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{GeneralLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/PostPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/PostPreviewList.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="post">
        <div class="board-header">
            <div class="board-alias">
                <a th:href="@{/board/{boardType}(boardType=${board.type})}" th:text="${board.alias}"></a>
            </div>
        </div>
        <div class="post-header">
            <div class="post-title-wrapper">
                <span class="post-category" th:text="'[' + ${post.category} + ']'"></span>
                <span class="post-title" th:text="${post.title}"></span>
            </div>
            <div class="post-author-wrapper">
                <div class="post-author-image">
                    <img th:src="${post.authorProfileImage != null ? post.authorProfileImage : '/img/tempProfile.jpg'}">
                </div>
                <div class="post-author-nickname">
                    <a th:href="@{/my/{authorId}(authorId=${post.authorId})}"
                       th:text="${post.authorNickname}"></a>
                </div>
            </div>

            <div class="post-info-wrapper">
                <div class="time">
                    <span th:text="${post.createdAt}"></span>
                    <span th:text="'(수정 : ' + ${post.updatedAt} + ')'"></span>
                </div>
                <div class="count">
                    <span th:text="'조회수 ' + ${post.hitCount}"></span>
                    <span th:text="'추천수 ' + ${post.recommendCount}"></span>
                    <span th:text="'댓글수 ' + ${post.commentCount}"></span>
                </div>
            </div>
        </div>
        <div class="post-option-wrapper">
            <div class="post-rewrite-button" th:if="${post.isMine || (user.isLogin && user.isAdmin)}">
                <a th:href="@{/rewrite/{postAuthor}/{boardType}/{postId}(postAuthor=${post.authorNickname},boardType=${board.type},postId=${post.id})}">
                    수정
                </a>
            </div>
            <button class="post-delete-button"
                    th:if="${post.isMine || (user.isLogin && user.isAdmin)}"
                    th:data-boardType="${board.type}"
                    th:data-postId="${post.id}"
                    th:data-postAuthorId="${post.authorId}"
                    onclick="deletePost(this.getAttribute('data-boardType'), this.getAttribute('data-postId'), this.getAttribute('data-postAuthorId'))">
                삭제
            </button>
        </div>
        <div class="post-body-wrapper">
            <div class="post-body" th:utext="${post.body}"></div>
            <div class="post-recommend"
                 th:data-postId="${post.id}"
                 onclick="incPostRecommend(this.getAttribute('data-postId'))">
                <div class="post-recommend-image">
                    <img src="/img/thumb.png">
                </div>
                <div class="post-recommend-count">
                    <span id="postRecommendCount" th:text="${post.recommendCount}"></span>
                </div>
            </div>
        </div>
        <div id="commentFragment">
            <div class="comment-list-wrapper">
                <div class="comment-count">
                    <span th:text="'댓글수 ' + ${commentCount}"></span>
                </div>
                <ul>
                    <li th:each="comment : ${commentList}">
                        <div class="deleted-comment" th:if="${comment.isDeleted}">
                            삭제된 댓글입니다.
                        </div>
                        <div th:unless="${comment.isDeleted}"
                             th:class="${comment.isRoot ? 'root-comment-wrapper' : 'child-comment-wrapper'}">
                            <div class="comment-header">
                                <div class="comment-author-wrapper">
                                    <div class="comment-author-image">
                                        <img th:src="${comment.authorProfileImage != null ? comment.authorProfileImage : '/img/tempProfile.jpg'}">
                                    </div>
                                    <div class="comment-author-nickname">
                                        <a th:href="@{/my/{authorId}(authorId=${comment.authorId})}"
                                           th:text="${comment.authorNickname}"></a>
                                    </div>
                                    <div class="post-author" th:if="${comment.isPostAuthor}">
                                        작성자
                                    </div>
                                </div>
                                <div class="comment-button-wrapper">
                                    <button type="button"
                                            class="recommend-comment-button"
                                            th:data-commentId="${comment.id}"
                                            onclick="incCommentRecommend(this.getAttribute('data-commentId'))"
                                    >
                                        <span>추천</span>
                                        <span th:id="'commentRecommendCount-' + ${comment.id}"
                                              th:text="${comment.recommendCount}"></span>
                                    </button>
                                    <button type="button"
                                            class="delete-comment-button"
                                            th:if="${comment.isMine || (user.isLogin && user.isAdmin)}"
                                            th:data-postId="${comment.postId}"
                                            th:data-commentId="${comment.id}"
                                            th:data-commentAuthorId="${comment.authorId}"
                                            th:data-currentPageNumber="${commentPageNumber}"
                                            onclick="
                                                deleteComment(
                                                    this.getAttribute('data-postId'),
                                                    this.getAttribute('data-commentId'),
                                                    this.getAttribute('data-commentAuthorId'),
                                                    this.getAttribute('data-currentPageNumber')
                                                )"
                                    >삭제
                                    </button>
                                    <button type="button"
                                            class="show-form-button"
                                            onclick="showForm(this)">
                                        대댓글
                                    </button>
                                </div>
                            </div>
                            <div class="comment-body-wrapper">
                                <div class="parent-author"
                                     th:if="${comment.isRoot == false && comment.isRootChild == false}"
                                     th:text="${comment.parentAuthorNickname}"
                                ></div>
                                <div class="comment-body" th:text="${comment.body}"></div>
                            </div>
                            <div class="comment-time-wrapper">
                                <div class="comment-created-at"
                                     th:text="${comment.createdAt}"
                                ></div>
                            </div>
                        </div>
                        <form id="childCommentForm" class="child-comment-form" style="display: none;">
                            <textarea class="comment-input" th:id="'childComment-' + ${comment.id}"
                                      name="body"></textarea>
                            <div class="submit-button-wrapper">
                                <button type="button"
                                        th:data-commentId="${comment.id}"
                                        th:data-postId="${comment.postId}"
                                        th:data-currentPageNumber="${commentPageNumber}"
                                        onclick="saveChildComment(this.getAttribute('data-commentId'), this.getAttribute('data-postId'), this.getAttribute('data-currentPageNumber'))">
                                    입력
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
                <div class="comment-page-number-list-wrapper">
                    <ul>
                        <li th:each="commentPage, stat : ${commentPageNumberList}"
                            th:if="${commentPage.pageNumber != null}">
                            <div class="comment-arrow-left"
                                 th:if="${stat.first}"
                                 th:data-postId="${commentPage.postId}"
                                 th:data-pageNumber="${commentPage.pageNumber}"
                                 onclick="readComment(this.getAttribute('data-postId'), this.getAttribute('data-pageNumber'))">
                                ◀
                            </div>
                            <div th:if="${!stat.first && !stat.last}"
                                 th:class="${commentPage.pageNumber == commentPageNumber} ? 'comment-active-page-number' : 'comment-page-number'"
                                 th:text="${commentPage.pageNumber}"
                                 th:data-postId="${commentPage.postId}"
                                 th:data-pageNumber="${commentPage.pageNumber}"
                                 onclick="readComment(this.getAttribute('data-postId'), this.getAttribute('data-pageNumber'))">
                            </div>
                            <div class="comment-arrow-right"
                                 th:if="${stat.last}"
                                 th:data-postId="${commentPage.postId}"
                                 th:data-pageNumber="${commentPage.pageNumber}"
                                 onclick="readComment(this.getAttribute('data-postId'), this.getAttribute('data-pageNumber'))">
                                ▶
                            </div>
                        </li>
                    </ul>
                </div>
                <form id="rootCommentForm" class="root-comment-form">
                    <textarea id="rootContent" class="comment-input" name="body"></textarea>
                    <div class="submit-button-wrapper">
                        <button type="button"
                                class="submit-button"
                                th:data-postId="${postId}"
                                onclick="saveRootComment(this.getAttribute('data-postId'))">입력
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <th:block th:replace="PostPreviewList :: postPreviewListFragment"></th:block>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/PostPage.js}"></script>
</th:block>
</html>