<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{GeneralLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/RootPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="root">
        <section class="left-section">
            <div class="hot-post-list-wrapper">
                <div class="hot-post-list-header">
                    <div class="hot-post-list-header-text">
                        실시간 인기글
                    </div>
                </div>
                <ul>
                    <li th:each="post : ${topHotPostList}">
                        <a th:text="${post.title}" th:href="@{/board/{boardType}/post/{postId}(boardType=${post.boardType}, postId=${post.postId})}"></a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="right-section">
            <div th:each="topPost : ${topPostList}" class="post-list-wrapper">
                <div class="post-list-header">
                    <div th:text="${topPost.alias}" class="post-list-header-text"></div>
                </div>
                <ul>
                    <li th:each="post : ${topPost.topPostDtoList}">
                        <a th:text="${post.title}" th:href="@{/board/{boardType}/post/{postId}(boardType=${post.boardType}, postId=${post.postId})}"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/RootPage.js}"></script>
</th:block>
</html>

