<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>회원가입</title>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/signup.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
<main id="container">
    <div class="signup">
        <article>
            <section>
                <div class="signupWrapper">
                    <div class="signupForm">
                        <div class="inner">
                            <div class="title">
                                회원가입
                            </div>
                            <form class="signupForm" th:action="@{/signup}" method="post">
                                <div id="inputUserInfo">
                                    <fieldset>
                                        <div class="errorWrapper">
                                            <p id="errorMessage" style="display: none"></p>
                                        </div>
                                        <div>
                                            <input class="int inputNickname" id="nickname" name="nickname" type="text"
                                                   placeholder="Nickname"/>
                                            <input class="int inputUsername" id="username" name="username" type="text"
                                                   placeholder="name@example.com"/>
                                            <input class="int inputPassword" id="password" name="password"
                                                   type="password" placeholder="Create a password"/>
                                            <input class="int inputPasswordConfirm" id="passwordConfirm"
                                                   name="passwordConfirm" type="password"
                                                   placeholder="Confirm password"/>
                                        </div>
                                        <button type="button" class="signupFormButton" id="confirmButton" onclick="sendEmail()">이메일 인증하기</button>
                                        <div class="signupOption">
                                            <a href="/login">로그인으로</a>
                                        </div>
                                    </fieldset>
                                </div>
                                <div id="confirmCode" style="display: none">
                                    <div class="titleConfirm">
                                        <h2>이메일 인증</h2>
                                    </div>
                                    <div class="please">
                                        <p><span id="codeUsername"></span>으로 전송된 인증 코드를 입력해주세요.</p>
                                    </div>
                                    <div class="confirmDiv">
                                        <p id="confirm" style="display: none"></p>
                                    </div>
                                    <div id="inputCodeDiv" class="row align-items-center">
                                        <div>
                                            <input class="int inputCode" id="code" name="code" type="text" placeholder="Code"/>
                                        </div>
                                        <button type="button" id="checkButton" onclick="checkCode()" class="signupFormButton">확인</button>
                                    </div>
                                    <button type="submit" id="submitButton" class="signupFormButton" style="display: none">회원가입 하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>
</body>
</html>
