<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{AuthLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/SignUpPage.css}"/>
</head>
<th:block layout:fragment="contentFragment">
    <div class="signup">
        <div class="signup-wrapper">
            <div class="inner">
                <div class="title">
                    회원가입
                </div>
                <form>
                    <div id="inputUserInfo">
                        <fieldset>
                            <div class="error-wrapper">
                                <p id="errorMessage"></p>
                            </div>
                            <div class="input-wrapper">
                                <label for="nickname">닉네임</label>
                                <input id="nickname" name="nickname" type="text"
                                       placeholder="Nickname"/>
                                <label for="username">이메일</label>
                                <input id="username" name="username" type="text"
                                       placeholder="name@example.com"/>
                                <label for="password">비밀번호</label>
                                <input id="password" name="password"
                                       type="password" placeholder="Create a password"/>
                                <label for="passwordConfirm">비밀번호 확인</label>
                                <input id="passwordConfirm"
                                       name="passwordConfirm" type="password"
                                       placeholder="Confirm password"/>
                            </div>
                            <button type="button" class="signup-form-button" id="sendEmailButton"
                                    onclick="signup()"> 회원가입 하기
                            </button>
                            <div class="option-wrapper">
                                이미 회원이라면? <a href="/login">로그인 하기</a>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scriptFragment">
    <script th:src="@{/js/SignUpPage.js}"></script>
</th:block>
</html>