<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>회원가입</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
<form id="signupForm" th:action="@{/signup}" method="post">
    <div>
        <label for="username">사용자 이름:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" required>
    </div>
    <button type="button" onclick="sendEmail()">인증번호 받기</button>

    <div id="code"></div>

    <input type="text" id="inputCode" name="inputCode">
    <button type="button" onclick="checkCode()">입력</button>
    <div id="confirm"></div>
    <div>
        <button type="submit">가입하기</button>
    </div>
</form>
</body>
</html>


