.write {
    width: 1100px;
    margin: 0 auto;
}

.board-header {
    padding-bottom: 3px;
    border-bottom: 3px solid #837ed7;
}

.board-alias a {
    color: #6f6abe;
    font-weight: bolder;
    font-size: 2rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 2rem;
}

.option .description {
    font-size: 1rem;
}

.input-wrapper {
    display: flex;
}

.input-wrapper .check-box-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input-wrapper .check-box-wrapper span {
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 15px;
}

.input-wrapper .check-box-wrapper span label:last-of-type {
    padding-left: 5px;
}

input[type="checkbox"] + label[id="checkBoxLabel"] {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

input[type="checkbox"]:checked + label[id="checkBoxLabel"]::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #6f6bad;
    border-radius: 50%;
    z-index: 1;
}

input[type="checkbox"] {
    display: none;
}

.input-wrapper .submit-button-wrapper button {
    display: block;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #837ed7;
    color: white;
    border-radius: 4px;
}

.ckEditor-wrapper {
    margin-top: 5px;
}

.ckEditor-wrapper input {
    margin-top: 7px;
    margin-bottom: 10px;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    font-size: 1rem;
    color: #555;
    background: white;
    border: 1px solid #837ed7;
}